h1{
    color: brown;
    text-align: center;
}
h2{
    text-align: center;
    color: aqua;
    font-family: 'Times New Roman', Times, serif;

}

ol{
    text-align: center;

}

img{
    text-align: center;
}

p{

    text-align: center;
}
